@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.Welcome{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Left{
    width: 20%;
    height: 100vh;
}

.Right{
    width: 22%;
    height: 100vh;
}

.Center{
    width: 56%;
    height: 100vh;
    margin-left: 10rem;
}

.NavBarLateral{
    width: 100%;
    height: 55%;
}

.ulHome2{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 3rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.Logo{
    width: 25%;
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.animation{
    width: 100%;
    height: 15%;
    border-radius: 3rem;
    font-family: 'Ubuntu', sans-serif;
    transition: .4s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

.animation:hover{
    width: 100%;
    height: 15%;
    border-radius: 3rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: #E76F51;
    transition: .4s;
}

.anchor2{
    width: 100%;
    height: 100%;
    color: #8D8989;
    margin: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    transition: .4s;
}

.anchor2:hover{
    color: #ffffff;
}

.container2{
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
}
.image1{
    width: 88%;
}

.hola{
    font-family: 'Ubuntu', sans-serif;
    color: #8D8989;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.empieza{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    
}


.image2{
    width: 70%;
}


