@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.Welcome{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Left{
    width: 22%;
    height: 100vh;
}

.Right{
    width: 28%;
    height: 100vh;
}

.Center{
    width: 50%;
    height: 100vh;
    margin-left: 10rem;
}

.NavBarLateral{
    width: 100%;
    height: 54%;
}

.ulHome2{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 3rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.Logo{
    width: 25%;
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.animation{
    width: 90%;
    height: 15%;
    border-radius: 3rem;
    font-family: 'Ubuntu', sans-serif;
    transition: .4s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

.animation:hover{
    width: 100%;
    height: 15%;
    border-radius: 3rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: #E76F51;
    transition: .4s;
}

.anchor2{
    width: 100%;
    height: 100%;
    color: #8D8989;
    margin: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    transition: .4s;
}

.anchor2:hover{
    color: #ffffff;
}

.container2{
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
}
.image1{
    width: 85%;
}

.hola{
    font-family: 'Ubuntu', sans-serif;
    color: #8D8989;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.empieza{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    
}

.container3{
    width: 88%;
    background: url(https://res.cloudinary.com/divor1sn5/image/upload/v1684105239/Generales/Bienvenido_Nuevamente_ftej7s.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 43%;
    border-radius: 2rem;
}

.image2{
    width: 100%;
}

.more{
    width: 22%;
    height: 12%;
    font-size: 1.4rem;
    color: #ffffff;
    border-radius: 2rem;
    border: none;
    margin-bottom: 5.5rem;
    margin-left: 2.6rem;
    background-color: #E76F51;
    transition: .3s;
}

.more:hover{
    transform: scale(1.1);
}

.productsRecent{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size:1.8rem;
}
.container4{
    width: 88%;
    height: 25%;
    display: flex;
    gap: 2.5rem;
}

.container4 div{
    width: 30%;
    background-color: #E76F51;
    height: 100%;
    border-radius: 2rem ;
}

.perfil{
    width: 100%;
    height: 15%;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.imgPerfil{
    width: 9%;
}

.arrowDown{
    width: 4%;
}

.myPlan{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size:1.8rem;
}

.plan{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-size:1.4rem;
    height: 30%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background: url(https://res.cloudinary.com/divor1sn5/image/upload/v1684163382/Generales/Bienvenido_Nuevamente_ur0scl.png);
    background-size: cover;
}

.type{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-size:1.8rem;
    font-weight: bold;
    margin-left: 2rem;
}

.time{
    margin-left: 2rem;
}

.exp{
    margin-left: 2rem;
    margin-top: 4rem;
}

.notifications{
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size:1.8rem;
}

.not{
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 3rem;
    font-family: 'Ubuntu', sans-serif;
    color: #807f7f;
    font-size:1.4rem;
}


